.navbar {
  width: 100%;
  height: 80px;
  padding: 0 5%;
  background-color: var(--color-bg-primary); 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-left,
.navbar .nav-right {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}

.nav-left .nav-link,
.nav-right .nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

.active {
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
  font-weight: 500;
}

.nav-left .nav-link:hover,
.nav-right .nav-link:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
}

.nav-center {
  font-weight: bold;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
}
